@import url("./common.css");

/*  THE l5 TASK 7 SECTION  */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
/*  THE l5 TASK 7 SECTION  */

/*  THE l3 TASK 8 SECTION  */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  /*  THE l5 TASK 9 SECTION  */
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  /*  THE l5 TASK 9 SECTION  */

  /*My edition*/
  text-align: center; /* Center the body element within its parent */
  /*My edition*/
}
/*  THE l3 TASK 8 SECTION  */

/*  THE l5 TASK 9-10 SECTION  */
h1,
h2,
h3 {
  font-weight: 700;
}
h1 {
  font-size: 1.45rem;
}
h2 {
  font-size: 1.3rem;
}
.footer-social {
  /*My edition*/
  padding: 4px;
  /*My edition*/
}
.list-unstyled {
  list-style: none;
  /*My edition*/
  display: flex;
  gap: 12px;
  justify-content: center;
  /*My edition*/
}
/*My edition*/
.list-unstyled > li a {
  font-size: 1.5em;
}
/*My edition*/
/*  THE l5 TASK 9-10 SECTION  */

/*  THE l6 TASK 13 SECTION  */
.text-uppercase {
  text-transform: uppercase;
}
.bg-dark {
  background-color: black;
}
.text-white {
  color: white;
}
ul.categories li a {
  color: indigo;
  text-decoration: none;
  font-size: 1.2rem;
}
ul.categories li a:hover {
  background-color: lightgray;
}
/*  THE l6 TASK 13 SECTION  */

/*My edition*/
li {
  list-style: none;
}
section {
  margin: 30px 40px;
}
iframe {
  width: 1200px;
  height: 400px;
  padding: 10px;
  background: linear-gradient(40deg, yellow, blue);
}
.second_nav {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.nav_inner_container {
  display: flex;
  justify-content: space-around;
}
/*My edition*/
