/*    THE TASK 6 SECTION   */
* {
    margin: 0;
    padding: 0;
  }
  
  @import url("my-imported-styles.css");
  
  /*    THE TASK 7 SECTION   */
  html {
    --primary-text-color: #000;
    --primary-bg-color: #fff;
  }
  
  footer {
    --footer-text-color: #fff;
    --fuuter-bg-color: #000;
  }