/*    THE TASK 6 SECTION   */
@import url("my-imported-styles.css");
/* @import MUST be before the styles, i.e. --> "my-imported-styles.css" doesn't exist here */
* {
    margin: 0;
    padding: 0;
  }
  
  /*    THE TASK 7 SECTION   */
  html {
    --primary-text-color: #000;
    --primary-bg-color: #fff;
  }
  
  footer {
    --footer-text-color: #fff;
    --fuuter-bg-color: #000;
  }