/*<--------            THE TASK 2 SECTION        ---------------->*/
h1,
h2,
h3 {
  color: gray;
}

main {
  color: #e60202;
}
.h2 {
  color: red;
}
.heading {
  color: green;
}
/*<--------            THE TASK 2 SECTION        ---------------->*/

/*<--------            THE TASK 3 SECTION        ---------------->*/
ul > li {
  font-weight: bold;
}
section > p {
  color: red;
}
section p {
  font-size: 50px;
}
/*<--------            THE TASK 3 SECTION        ---------------->*/

/*<--------            THE TASK 4 SECTION        ---------------->*/
h1:first-of-type + h2 {
  color: indigo;
}
p.first a {
    color: green;
  }
p .first a {
  color: green;
}
div ~ p {
    color:salmon;
  }
/*<--------            THE TASK 4 SECTION        ---------------->*/

/*<--------            THE TASK 5 SECTION        ---------------->
Маємо іменовані кольори black, blue, green, red, white, yellow

1. Визначити ці кольори за допомогою шістнадцяткового коду: 
0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F.
2. Визначити ці кольори у десятковій системі числення 
за допомогою функції RGB.
3. Визначити ці кольори, використовуючи відсотки.
4. Визначити ці кольори використовуючи альфа-канал, що задає прозорість.
*/
.task_5 {
    color: #a564ef;
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.hex {
    background: linear-gradient(40deg, #000000, #0000FF, #00FF00, #FF0000, #FFFFFF, #FFFF00);
    color: #c3ff69;
    font-size: 20px;
}
.rgb {
    background: linear-gradient(-40deg, rgb(0, 0, 0), rgb(0, 0, 255), rgb(0, 255, 0), rgb(255, 0, 0), rgb(255, 255, 255), rgb(255, 255, 0));
    color: #161d0c;
    font-size: 20px;
}
.hsl {
    background: linear-gradient(40deg, hsl(0, 0%, 0%), hsl(240, 100%, 50%), hsl(120, 100%, 50%), hsl(0, 100%, 50%), hsl(0, 0%, 100%), hsl(60, 100%, 50%));
    color: #a31177;
    font-size: 20px;
}
.rgba {
    background: linear-gradient(-40deg, rgba(0, 0, 0, 0.999), rgba(0, 0, 255, 0.999), rgba(0, 255, 0, 0.999), rgba(255, 0, 0, 0.999), rgba(255, 255, 255, 0.999), rgba(255, 255, 0, 0.999));
    color: #9c1da8;
    font-size: 20px;
}
/*<--------            THE TASK 5 SECTION        ---------------->*/

/*<--------            THE TASK 6 SECTION        ---------------->*/

/*<--------            THE TASK 6 SECTION        ---------------->*/

/*<--------            THE TASK 7 SECTION        ---------------->*/

/*<--------            THE TASK 7 SECTION        ---------------->*/