/* TASK 2 SECTION */
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  /* -TASK 2 SECTION */
      'header'
      'sidebar'
      'main'
      'footer';
  /* -TASK 2 SECTION */
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}
/* +TASK 2 SECTION */
@media (min-width: 786px) {
  .grid-container {
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "footer footer footer";
  }
}
/* +TASK 2 SECTION */
/* TASK 2 SECTION */