/*<--------            THE TASK 2 SECTION        ---------------->*/
ul li a:link {
  color: indigo;
}
ul li a:visited {
  color: gold;
}
ul li a:hover {
  color: salmon;
}
ul li a:focus {
  color: orange;
}
ul li a:active {
  color: red;
}
/*<--------            THE TASK 2 SECTION        ---------------->*/

/*<--------            THE TASK 3 SECTION        ---------------->*/
input:in-range {
  color: rgba(0, 128, 0, 0.25);
}
input:out-of-range {
  color: rgba(255, 0, 0, 0.25);
}
/*<--------            THE TASK 3 SECTION        ---------------->*/

/*<--------            THE TASK 4 SECTION        ---------------->*/
ul.task_4 li:first-child {
  color: orange;
}
/*<--------            THE TASK 4 SECTION        ---------------->*/

/*<--------            THE TASK 5 SECTION        ---------------->*/
ul.task_5 :first-of-type {
  color: orange;
}
/*<--------            THE TASK 5 SECTION        ---------------->*/

/*<--------            THE TASK 6 SECTION        ---------------->*/
ul.task_6 :last-of-type {
  color: orange;
}
/*<--------            THE TASK 6 SECTION        ---------------->*/

/*<--------            THE TASK 7 SECTION        ---------------->*/
ul.task_7 li:not(.first-item) {
  color: orange;
}
ul.task_7 li:not(.first-item):not(:last-of-type) {
  color: black;
  background-color: yellow;
}
/*<--------            THE TASK 7 SECTION        ---------------->*/

/*<--------            THE TASK 8 SECTION        ---------------->*/
ol :nth-child(2) {
  color: orange;
}
ol :nth-child(2n) {
  color: orange;
}
ol :nth-child(2n+6) {
  color: orange;
}
/*<--------            THE TASK 8 SECTION        ---------------->*/