/*<--------            THE TASK 2 SECTION        ---------------->*/
ul li a:link {
  color: indigo;
}
ul li a:visited {
  color: gold;
}
ul li a:hover {
  color: salmon;
}
ul li a:focus {
  color: orange;
}
ul li a:active {
  color: red;
}
/*<--------            THE TASK 2 SECTION        ---------------->*/

/*<--------            THE TASK 3 SECTION        ---------------->*/

/*<--------            THE TASK 3 SECTION        ---------------->*/
