/* TASK 2 SECTION */
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --form-color: #44c7f5;
  --active-color: #ff574e;
  /* +TASK 2.1 SECTION */
  --padding-form: calc(30 / 16 * 1rem);
  /* +TASK 2.1 SECTION */
}
body {
  margin: 0;
  font-size: 1rem;
  background: lightgray;
}
.wrapper {
  /* +TASK 2.2 SECTION */
  margin: auto;
  width: 100%;
  max-width: 70rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* +TASK 2.2 SECTION */
}
.form-container {
  /* +TASK 2.3 SECTION */
  width: 100%;
  max-width: 40rem;
  height: auto;
  box-shadow: 0 0 5px darkgrey;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-gap: 0.8em;
  /* +TASK 2.3 SECTION */
}
.col-left,
.col-right {
  /* +TASK 2.4 SECTION */
  display: flex;
  padding: var(--padding-form);
  /* +TASK 2.4 SECTION */
}
.col-left {
  background: var(--form-color);
  /* +TASK 2.5 SECTION */
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  /* +TASK 2.5 SECTION */

}
.col-right {
  /* +TASK 2.6 SECTION */
  padding: 3.75rem 1.875rem;
  /* +TASK 2.6 SECTION */
  margin-left: -10%;
}
.login-text {
  position: relative;
  width: 100%;
  color: white;
}
.login-text h2 {
  margin: 0 0 15px 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.login-text p {
  margin: 0 0 20px 0;
  font-weight: 500;
  line-height: 22px;
}
.login-text .btn {
  display: inline-block;
  padding: 7px 20px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  outline: none;
  border: 1px solid white;
  background-color: var(--form-color);
}
.login-text .btn:hover {
  color: var(--form-color);
  background-color: white;
}
.login-form {
  position: relative;
  width: 100%;
}
.login-form h2 {
  margin: 0 0 15px 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.login-form p {
  margin: 0 0 10px 0;
  text-align: left;
  font-size: 0.9rem;
}
.login-form p:last-child {
  margin: 0;
  padding-top: 3px;
}
.login-form p a {
  color: var(--form-color);
  font-size: 0.8rem;
  text-decoration: none;
}
.login-form label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}
.login-form p:last-child label {
  width: 60%;
  float: left;
}
.login-form label span {
  color: var(--active-color);
  padding-left: 2px;
}
.login-form input {
  display: block;
  width: 100%;
  height: calc((35 / 16) * 1rem);
  padding: 0 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 30px;
}
/* +TASK 2.7 SECTION */
.login-form input:focus {
  border-color: var(--active-color);
}
/* +TASK 2.7 SECTION */

/* +TASK 2.8 SECTION */
.login-form input[type="submit"] {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  color: var(--form-color);
  letter-spacing: 1px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--form-color);
  border-radius: 30px;
}
/* +TASK 2.8 SECTION */

/* +TASK 2.9 SECTION */
.login-form input[type="submit"]:hover {
  color: white;
  background-color: var(--form-color);
}
/* +TASK 2.9 SECTION */

@media (max-width: 35rem) {
  /* +TASK 2.10 SECTION */
  .form-container {
    display: flex;
    flex-direction: column;
    box-shadow: none;
  }
  .col-left,
  .col-right {
    width: 100%;
    margin: 0;
    clip-path: none;
  }
  .col-right {
    padding: var(--padding-form);
  }
  /* +TASK 2.10 SECTION */
}
/* TASK 2 SECTION */
