/* TASK 2 SECTION */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  /* +TASK 2 SECTION */
  justify-content: space-between;
  align-items: center;
  /* +TASK 2 SECTION */
  padding: 0 0.5rem;
}

.link-list {
  display: flex;
  margin: 0;
  list-style: none;
}

.link {
  padding: 0.5rem;
}

.link:hover {
  background-color: #777;
}

.link a {
  color: inherit;
  text-decoration: none;
}
/* TASK 2 SECTION */