/* carousel */
.carousel {
    display: flex;
    align-items: bottom;
    background: white;
    justify-content: center;
}
.slider {
    height: 8rem;
    margin: 1.5rem auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 0.125);
}
.slide-track {
    display: flex;
    width: calc(250px*14);
    animation: carousel 20s linear infinite alternate;
}
.slide {
    height: 200px;
    width: 250px;
}
.slide img {
    height: 160px;
    width: 250px;
    display: block;
    max-width: 100%;
    object-fit: cover;
    transition: 1s;
    opacity: 0.8;
    &:hover {
        transform: scale(1.05);
        filter: blur(1px);
    }
}
@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(calc(-250px * 1));
    }
    20% {
        transform: translateX(calc(-250px * 1));
    }
    35% {
        transform: translateX(calc(-250px * 2));
    }
    40% {
        transform: translateX(calc(-250px * 2));
    }
    55% {
        transform: translateX(calc(-250px * 3));
    }
    60% {
        transform: translateX(calc(-250px * 3));
    }
    75% {
        transform: translateX(calc(-250px * 4));
    }
    80% {
        transform: translateX(calc(-250px * 4));
    }
    95% {
        transform: translateX(calc(-250px * 5));
    }
    100% {
        transform: translateX(calc(-250px * 5));
    }
}
.category-item {
    display: block;
    position: relative;
}
.category-item-title {
    display: inline-block;
    color: black;
    background-color: white;
    font-size: .8rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: .5rem 1rem;
    transform: translate(-50%, -50%);
}
.slider::before, .slider::after {
    background: linear-gradient(to right, #fff 0%, rgb(255 255 255 / 0) 100%);
    content: '';
    height: 140px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::before {
 top: 0;
 left: 0;
} 
.slider::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}
