/* TASK 1 SECTION */
*,
*::before,
*::after {
  box-sizing: border-box;
}

table {
  width: 50rem;
  border-collapse: collapse;
  margin: 3rem auto;
}

/* TASK 1.4 SECTION */
table tr:nth-child(odd) {
  background-color: lightgray;
}
/* TASK 1.4 SECTION */

/* TASK 1.3 SECTION */
th {
  background-color: indigo;
  color: white;
  font-weight: 500;
}
/* TASK 1.3 SECTION */

/* TASK 1.2 SECTION */
td,
th {
  padding: 0.625rem;
  border: 1px solid lightgray;
  text-align: left;
  font-size: 1.125rem;
}
/* TASK 1.2 SECTION */

/* TASK 1.5 SECTION */
@media (max-width: 50rem) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    border: 1pc solid darkgray;
  }

  td {
    border: none;
    border-bottom: 1px solid lightgray;
  }
}
/* TASK 1.5 SECTION */

/* TASK 1 SECTION */
